Alessio Morale <alessiomorale@gmail.com> <alessiomorale@gmail.com>
Corvus Corax <corvuscorax@cybertrench.com> <corvus>
DTF UHF <dtfuhf@gmail.com> <dtfuhf@gmail.com>
David "Buzz" Carlson <buzz@chebuzz.com> <buzz@chebuzz.com>
David "Buzz" Carlson <buzz@chebuzz.com> <chebuzz>
David "Buzz" Carlson <buzz@chebuzz.com> <chebuzz@openpilot.org>
David "Buzz" Carlson <buzz@chebuzz.com> <dcarlson@buzz-i7.(none)>
David Ankers <david@openpilot.org> <dankers>
David Ankers <david@openpilot.org> <david@openpilot.org>
Dmytro Poplavskiy <dima@dima-desktop.(none)> <dmytro.poplavskiy@gmail.com>
Edouard Lafargue <edouard@lafargue.name> <edouard>
Edouard Lafargue <edouard@lafargue.name> <edouard@aerodynes.fr>
Edouard Lafargue <edouard@lafargue.name> <edouard@lafargue.name>
Edouard Lafargue <edouard@lafargue.name> <edouard@openpilot.org>
FredericG <FredericG> <fredericg>
James Cotton <peabody124@gmail.com> <peabody124>
James Cotton <peabody124@gmail.com> <peabody124@ebee16cc-31ac-478f-84a7-5cbb03baadba>
James Cotton <peabody124@gmail.com> <peabody124@gmail.com>
James Cotton <peabody124@gmail.com> <rcotton@cns.bcm.edu>
Kenn Sebesta <kenn@eissq.com> <kenn@bu.edu>
Kenn Sebesta <kenn@eissq.com> <kenn@eissQ.com>
Kenn Sebesta <kenn@eissq.com> <kenz@Kenns-MacBook-Pro.local>
Kenn Sebesta <kenn@eissq.com> <kenz@Kenz-Dales-iMac.local>
Kenn Sebesta <kenn@eissq.com> <laurici@188-25-140-172.rdsnet.ro>
Kenn Sebesta <kenn@eissq.com> <laurici@188-25-140-76.rdsnet.ro>
Kenn Sebesta <kenn@eissq.com> <laurici@188-25-141-139.rdsnet.ro>
Kenn Sebesta <kenn@eissq.com> <laurici@188-25-141-21.rdsnet.ro>
Kenn Sebesta <kenn@eissq.com> <laurici@188-25-141-72.rdsnet.ro>
Kenn Sebesta <kenn@eissq.com> <laurici@188-25-252-41.rdsnet.ro>
Kenn Sebesta <kenn@eissq.com> <laurici@Lauras-MacBook-Pro.local>
Kenn Sebesta <kenn@eissq.com> <laurici@wireless1x-168-122-13-224.bu.edu>
Martin Luessi <mluessi@gmail.com> <brainfpv@gmail.com>
Martin Luessi <mluessi@gmail.com> <martin>
Martin Luessi <mluessi@gmail.com> <mluessi@gmail.com>
Michael Corcoran <mrc93@uclive.ac.nz> <tracer@outlook.co.nz>
Michael Corcoran <tracer@outlook.co.nz> <mrc93@uclive.ac.nz>
Michael Lyle <mlyle@lyle.org> <mlyle@sharpie.lan>
Oleg Semyonov <os@openpilot.org> <os-openpilot-org@os-propo.info>
Oleg Semyonov <os@openpilot.org> <os@sevsoft.com>
Oleg Semyonov <os@openpilot.org> <os@sevsoft.net>
Oleg Semyonov <os@openpilot.org> <osnwt>
PT_Dreamer <josemanuelbarros@gmail.com>  GoogleMap,GoogleSatellite,GoogleLabels,GoogleTerrain,GoogleHybrid,GoogleMapChina,GoogleSatelliteChina,GoogleLabelsChina,GoogleTerrainChina,GoogleHybridChina, OpenStreetMap,OpenStreetOsm,OpenStreetMapSurfer,OpenStreetMapSurferTerrain,YahooMap,YahooSatellite,YahooLabels,YahooHybrid,BingMap,BingSatellite,BingHybrid, ArcGIS_Map,ArcGIS_Satellite,ArcGIS_ShadedRelief,ArcGIS_Terrain,ArcGIS_MapsLT_Map <GoogleMap,GoogleSatellite,GoogleLabels,GoogleTerrain,GoogleHybrid,GoogleMapChina,GoogleSatelliteChina,GoogleLabelsChina,GoogleTerrainChina,GoogleHybridChina, OpenStreetMap,OpenStreetOsm,OpenStreetMapSurfer,OpenStreetMapSurferTerrain,YahooMap,YahooSatellite,YahooLabels,YahooHybrid,BingMap,BingSatellite,BingHybrid, ArcGIS_Map,ArcGIS_Satellite,ArcGIS_ShadedRelief,ArcGIS_Terrain,ArcGIS_MapsLT_Map>
PT_Dreamer <josemanuelbarros@gmail.com> <guilhermito.santiago@gmail.com>
PT_Dreamer <josemanuelbarros@gmail.com> <jb@jb-Aspire-5715Z.(none)>
PT_Dreamer <josemanuelbarros@gmail.com> <jose@Latitude-E6400.(none)>
PT_Dreamer <josemanuelbarros@gmail.com> <josemanuelbarros@gmail.com>
PT_Dreamer <josemanuelbarros@gmail.com> <josembarros@hotmail.com>
PT_Dreamer <josemanuelbarros@gmail.com> <zedamota>
PT_Dreamer <josemanuelbarros@gmail.com> josemanuelbarros@gmail.com
Pip <cmoss296@blueyonder.co.uk> <pip>
Sambas <samik.korhonen@gmail.com> <Samba@.HOME>
Sambas <samik.korhonen@gmail.com> <sambas>
Sambas <samik.korhonen@gmail.com> <samik.korhonen@gmail.com>
Stacey Sheldon <stac@solidgoldbomb.org> <stac>
Stacey Sheldon <stac@solidgoldbomb.org> <stac@solidgoldbomb.org>
Thomas Greer <UKTamo@gmail.com> <UKTamo@gmail.com>
Thomas Greer <UKTamo@gmail.com> <tgreer@tsone.net.uk>
Thomas Greer <UKTamo@gmail.com> <troth@openavr.org>
banig <bani.greyling_at_gmail.com> <bani.greyling@gmail.com>
banig <bani.greyling_at_gmail.com> <banigreyling>
chris pember <chris.pember@gmail.com> <chris.pember@gmail.com>
dankers <david@openpilot.org>   <David@OpenPilot.org>
dankers <david@openpilot.org>   <GoogleMap,GoogleSatellite,GoogleLabels,GoogleTerrain,GoogleHybrid,GoogleMapChina,GoogleSatelliteChina,GoogleLabelsChina,GoogleTerrainChina,GoogleHybridChina, OpenStreetMap,OpenStreetOsm,OpenStreetMapSurfer,OpenStreetMapSurferTerrain,YahooMap,YahooSatellite,YahooLabels,YahooHybrid,BingMap,BingSatellite,BingHybrid, ArcGIS_Map,ArcGIS_Satellite,ArcGIS_ShadedRelief,ArcGIS_Terrain,ArcGIS_MapsLT_Map>
dankers <david@openpilot.org> <dankers>
lilvinz <lilvinz@nscit.com> <kessler@nscit.com>
lilvinz <lilvinz@nscit.com> <vincent.kessler@quantec-networks.de>
