[project]
	description = The dRonin' flight controller software.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Michael Lyle (mlyle)
[access "refs/for/refs/*"]
	read = group user/Michael Lyle (mlyle)
	push = group user/Michael Lyle (mlyle)
	label-Code-Review = -2..+2 group user/Michael Lyle (mlyle)
	label-Verified = -1..+1 group user/Michael Lyle (mlyle)
	rebase = group user/Michael Lyle (mlyle)
	removeReviewer = group user/Michael Lyle (mlyle)
	submit = group user/Michael Lyle (mlyle)
[access "refs/heads/*"]
	read = group user/Michael Lyle (mlyle)
	create = group user/Michael Lyle (mlyle)
	push = +force group user/Michael Lyle (mlyle)
	pushMerge = group user/Michael Lyle (mlyle)
[access "refs/tags/*"]
	push = +force group user/Michael Lyle (mlyle)
	pushTag = group user/Michael Lyle (mlyle)
	pushSignedTag = group user/Michael Lyle (mlyle)
